* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding-top: 2rem;
}

/* Dropdown menu */
.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.dropdown-menu {
  margin: 4rem auto;
}

.dropdown-item .active,
.dropdown-item:active {
  background-color: var(--bs-dropdown-link-hover-bg);
}

a.delete:hover {
  background-color: #dc3545;
  color: #FFF;

}

/* Search bar and button */
.search input {
  border-radius: 10px 0 0 10px;
}

.search button {
  border-radius: 0 10px 10px 0;
}

/* Thought text area */
#title {
  height: 100px;
  width: 500px;
  resize: none;
}

/* Edit user profile */
#about {
  width: 350px;
  height: 100px;
  resize: none;
}

/* Delete user profile picture */
.hidden {
  display: none;
}

#div-user-picture:hover form.hidden {
  display: block;
}

/* Pictures */
.picture-40 {
  width: 40px;
  height: 40px;
}

.picture-128 {
  width: 128px;
  height: 128px;
}

.user-picture {
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#preview-picture {
  width: 128px;
  height: 128px;
}

/* Upload Picture Input */
.custom-input-file::file-selector-button {
  display: none;
}

input[type="file"].custom-input-file:hover {
  background-color: #e9ecef;
  border-color: #373b3e;
}

label#border {
  border-radius: 8px 0 0 8px;
}

input[type="file"].custom-input-file {
  border-radius: 0 8px 8px 0;
}