body {
  min-height: 100vh;
  padding-top: 2rem;
}

/* Flash Messages */
.message {
  padding: 1em;
  color: #004085;
  background-color: #CCE5FF;
  border: 1px solid #B8DAFF;
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
  max-width: 50%;
}

/* Dropdown menu */
.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.dropdown-menu {
  margin: 4rem auto;
}

.dropdown-item .active,
.dropdown-item:active {
  background-color: #ffc107;
  color: black;
}

/* Search bar and button */
.search input {
  border-radius: 10px 0 0 10px;
}

.search button {
  border-radius: 0 10px 10px 0;
}

/* Thought text area */
#title {
  height: 100px;
  width: 500px;
  resize: none;
}

/* Edit user profile */
#about {
  width: 350px;
  height: 100px;
  resize: none;
}

/* Images */
.user-photo-min {
  width: 40px;
  height: 40px;
}

.user-photo {
  width: 128px;
  height: 128px;
}

#preview-image {
  width: 128px;
  height: 128px;
}

/* Upload Image Input */
.custom-input-file::file-selector-button {
  display: none;
}

label#border {
  border-radius: 8px 0 0 8px;
}

input[type="file"]#profile-image {
  border-radius: 0 8px 8px 0;
}

input[type="file"]#profile-image:hover {
  background-color: #e9ecef;
  border-color: #373b3e;
}

/* User profile */
/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
} */