
<div class="position-relative">
  <div class="position-absolute mt-3 top-0 start-50 translate-middle">
    {{> alert}}
  </div>
</div>

<div class="thoughts-container">
  <h1>{{username}} thoughts</h1>
  {{#each userThoughts}}
    <figure>
      <blockquote>"{{this.title}}"</blockquote>
      <figcaption>
        <div class="date">
          <span>{{dateFormat this.createdAt "dddd, DD/MM/YYYY - HH:mm"}}</span>
        </div>
      </figcaption>
    </figure>
  {{/each}}
  {{#if userNoThoughts}}
    <p>{{username}} hasn't thought much lately</p>
  {{/if}}
</div>