<div class="position-relative">
  <div class="position-absolute mt-5 top-0 start-50 translate-middle">
    {{> alert}}
  </div>
</div>

<a href="/user/profile" class="text-decoration-none mb-2">
  <i class="bi bi-arrow-left"></i>
  Back
</a>
<div class="my-3">
  <h1 class="fw-bold">Editing the thought</h1>
</div>
<div class="p-3 border rounded-3 w-50">
  <form
    action="/thoughts/edit/{{thought.uuid}}"
    method="POST"
    class="has-validadtion d-flex flex-column justify-content-between"
  >
    <div class="form-floating">
      <textarea
        class="form-control rounded-3"
        placeholder="Did you change your mind?"
        id="title"
        name="title"
        maxlength="100"
      >{{thought.title}}</textarea>
      <label for="title">Did you change your mind?</label>
      <div class="d-flex justify-content-between mt-2 pe-3 mb-3">
        <button type="submit" class="btn btn-dark rounded-3 mt-3">
          <i class="bi bi-check-lg"></i>
          Save
        </button>
        <small class="d-flex text-muted">
          <p id="chars">100</p>/100
        </small>
      </div>
      <div class="invalid-feedback">
        Limit exceeded: 100 character
      </div>
    </div>
  </form>
</div>